node_modules/
npm-debug.log
yarn-error.log

dist/
.angular/
out/

.vscode/
.idea/

*.log

.env
.env.*

tmp/
temp/

.DS_Store

Thumbs.db

.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/controller/ClientController.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/model/Client.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/service/ClientService.class
