node_modules/
npm-debug.log
yarn-error.log

dist/
.angular/
out/

.vscode/
.idea/

*.log

.env
.env.*

tmp/
temp/

.DS_Store

Thumbs.db

.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/controller/ClientController.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/model/Client.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/service/ClientService.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/controller/BreakdownController.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/service/EScooterService.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/service/BreakdownService.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/model/Rental.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/dto/RentalDTO.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/model/Breakdown.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/model/Rental.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/controller/RentalController.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/service/RentalService.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/service/EBikeService.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/model/Rental.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/dto/RentalSimpleDTO.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/dto/BreakdownSimpleDTO.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/model/Breakdown.class
urban-motion/target/classes/net/etfbl/ip/urban_motion/model/Rental.class
