<div class="content-section">
  <mat-card class="section-card">
    <mat-card-content>
      <mat-tab-group animationDuration="500ms">
        <mat-tab label="Cars">
          <div class="tab-content">
            <button
              mat-raised-button
              color="primary"
              (click)="addVehicle('car')"
              class="add-button"
            >
              <mat-icon>add</mat-icon> Add new car
            </button>

            <table
              mat-table
              [dataSource]="carDataSource"
              matSort
              class="mat-elevation-z8 vehicle-table"
            >
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
              </ng-container>

              <ng-container matColumnDef="manufacturer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Manufacturer
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.manufacturer?.name }}
                </td>
              </ng-container>

              <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
                <td mat-cell *matCellDef="let element">{{ element.model }}</td>
              </ng-container>

              <ng-container matColumnDef="purchasePrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Purchase Price
                </th>
                <td mat-cell *matCellDef="let element">
                  {{
                    element.purchasePrice
                      | currency : "USD" : "symbol" : "1.2-2"
                  }}
                </td>
              </ng-container>

              <ng-container matColumnDef="purchaseDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Purchase Date
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.purchaseDate | date : "shortDate" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Description
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.description }}
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element" class="actions-cell">
                  <div class="action-wrapper">
                    <button
                      color="primary"
                      (click)="editVehicle(element, 'car')"
                      aria-label="Edit Car"
                      class="action-btn edit-btn"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button
                      color="warn"
                      (click)="deleteVehicle(element.id, 'car')"
                      aria-label="Delete Car"
                      class="action-btn delete-btn"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button
                      color="green"
                      (click)="openVehicleDetailsDialog(element.id, 'car')"
                      aria-label="Delete Car"
                      class="action-btn view-details-btn"
                    >
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedCarColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedCarColumns"
              ></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of cars"
            ></mat-paginator>
          </div>
        </mat-tab>

        <mat-tab label="E-Bikes">
          <div class="tab-content">
            <button
              mat-raised-button
              color="primary"
              (click)="addVehicle('e-bike')"
              class="add-button"
            >
              <mat-icon>add</mat-icon> Add new e-bike
            </button>

            <table
              mat-table
              [dataSource]="eBikeDataSource"
              matSort
              class="mat-elevation-z8 vehicle-table"
            >
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
              </ng-container>

              <ng-container matColumnDef="manufacturer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Manufacturer
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.manufacturer?.name }}
                </td>
              </ng-container>

              <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
                <td mat-cell *matCellDef="let element">{{ element.model }}</td>
              </ng-container>

              <ng-container matColumnDef="purchasePrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Purchase Price
                </th>
                <td mat-cell *matCellDef="let element">
                  {{
                    element.purchasePrice
                      | currency : "USD" : "symbol" : "1.2-2"
                  }}
                </td>
              </ng-container>

              <ng-container matColumnDef="maxRange">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Max Range
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.maxRange }} km
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element" class="actions-cell">
                  <button
                    color="primary"
                    (click)="editVehicle(element, 'e-bike')"
                    aria-label="Edit Ebike"
                    class="action-btn edit-btn"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    color="warn"
                    (click)="deleteVehicle(element.id, 'e-bike')"
                    aria-label="Delete ebike"
                    class="action-btn delete-btn"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button
                    color="green"
                    (click)="openVehicleDetailsDialog(element.id, 'e-bike')"
                    aria-label="Delete Car"
                    class="action-btn view-details-btn"
                  >
                    <mat-icon>visibility</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedEBikeColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedEBikeColumns"
              ></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of ebikes"
            ></mat-paginator>
          </div>
        </mat-tab>

        <mat-tab label="E-Scooters">
          <div class="tab-content">
            <button
              mat-raised-button
              color="primary"
              (click)="addVehicle('e-scooter')"
              class="add-button"
            >
              <mat-icon>add</mat-icon> Add new e-scooter
            </button>

            <table
              mat-table
              [dataSource]="eScooterDataSource"
              matSort
              class="mat-elevation-z8 vehicle-table"
            >
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
              </ng-container>

              <ng-container matColumnDef="manufacturer">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Manufacturer
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.manufacturer?.name }}
                </td>
              </ng-container>

              <ng-container matColumnDef="model">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
                <td mat-cell *matCellDef="let element">{{ element.model }}</td>
              </ng-container>

              <ng-container matColumnDef="purchasePrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Purchase Price
                </th>
                <td mat-cell *matCellDef="let element">
                  {{
                    element.purchasePrice
                      | currency : "USD" : "symbol" : "1.2-2"
                  }}
                </td>
              </ng-container>

              <ng-container matColumnDef="maxSpeed">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Max Speed
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.maxSpeed }} km/h
                </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let element" class="actions-cell">
                  <button
                    color="primary"
                    (click)="editVehicle(element, 'e-scooter')"
                    aria-label="Edit Escooter"
                    class="action-btn edit-btn"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button
                    color="warn"
                    (click)="deleteVehicle(element.id, 'e-scooter')"
                    aria-label="Delete Escooter"
                    class="action-btn delete-btn"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button
                    color="green"
                    (click)="openVehicleDetailsDialog(element.id, 'e-scooter')"
                    aria-label="Delete Car"
                    class="action-btn view-details-btn"
                  >
                    <mat-icon>visibility</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="displayedEScooterColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedEScooterColumns"
              ></tr>
            </table>
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
              aria-label="Select page of escooters"
            ></mat-paginator>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
